/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
#main {
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
}

#main-content {
    position: inherit;
    left: 4%;
    top: 2%;
    width: 92%;
    height: 96%;
    /* border: 1px solid;
    border-radius: 7px;
    border-color: #718397; */
    padding: 10px;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fff;
}

.sidepanel {
    /* background-image: url("../images/sidepanel_bg.png"); */
}

#retailerLogo {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    border: none;
}

.w3-container {
    padding: 0.01em 16px;
    text-align: center;
}

.w3-display-container {
    position: relative
}

.showerButton {
    width: 50%;
    height: 120px;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}
.showerButton:active {
    width: 50%;
    height: 120px;
    border-radius: 4px;
    background-color: rgb(215, 215, 215);
    color: rgb(50, 50, 50);
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}


.carwashButton {
    width: 25%;
    height: 120px;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}

.carwashButton:active {
    width: 25%;
    height: 120px;
    border-radius: 4px;
    background-color: rgb(215, 215, 215);
    color: rgb(50, 50, 50);
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}

.bg {
    /* The image used */
    background-image: url(/images/showerCarwash.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body, html {
    text-align: center;
    height: 100%;
    margin: 0;
  }
  
  .buttons {
    margin-top: 150px;
  }